@import "~bulma/sass/utilities/_all";

/* Overrides goes between here... */

$radius-small: 0;
$radius: 0;
$radius-large: 0;
$radius-rounded: 0;
$control-radius: 0;

$input-shadow: unset;

/* ... and here */

@import "~bulma";
@import "~buefy/src/scss/buefy";
